/*Оформив заголовок, колір тексту зелений, розмір шрифту 32 */
h1 { 
    color: green;
    font-size: 32px;
}
/*Зробив в div колір тексту сірий, розмір щрифту 22px, основний колір жовтий, кордон навколо тексту 2px оформлена в оранжевий колір */
#Text {
    color: grey;
    font-size: 22px;
    background-color: yellow;
    border: solid 2px orange;
}
/*Виділив окремий текст, колір синьо-фіолетовий, кордон виділений пунктирною лінією 1px рожевого коліру*/
span {
    color: blueviolet;
    border: dotted 1px pink;
}
/*Текст, колір синій*/
p {
    color: blue;
}
/*Колір фіолетовий, розмір шрифту 26px*/
li {
    color: violet;
    font-size: 26px;
}
/*Розмір зображення, щирина 400px, висота 200px*/
img {
    width: 400px;
    height: 200px;
}
/*Посилання на номер телефону, колір червоний*/
a {
    color: red;
}